{% extends "base.html" %}
{% block content %}
<style>
    .logout-container {
        text-align: center;
        margin-top: 50px;
    }

    .logout-message {
        font-size: 24px;
    }

    .login-again-link {
        color: #007bff; /* Blue color, you can adjust the color as needed */
        text-decoration: none;
    }

    .login-again-link:hover {
        text-decoration: underline;
    }
</style>

    <div class="logout-container">
        <h2 class="logout-message">You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a class="login-again-link" href="{% url 'login' %}">Log In Again</a>
            </small>
        </div>
    </div>
{% endblock content %}